.intro{
	border: 10px black;
	margin: 20px;
	width: 700px;
	background-color: powderblue;
	font-family: 'Courier New', Courier, monospace;
}
.wrapper{
	border: 20px black;
	background-color: salmon;
	font-family: 'Courier New', Courier, monospace;
}
a:hover{
	color: gray;
}
#DiscordLink{
	background-color: bisque;
	font-family: 'Courier New', Courier, monospace;
}
